{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/signinup.css' %}">
{% endblock head %}

{% block content %}
<div class="reset_done">
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
</div>
{% endblock content %}