{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/signinup.css' %}">
{% endblock head %}
{% block content %}
  {% if validlink %}
    <div class="reset_confirm">
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
    </div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock content %}