{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/signinup.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock head %}

{% block content %}
<div class="send_email_div">
  <h3 class="modal-title">Forgot password?</h3>
  <form method="post">
    <div>
        <label for="id_email">Enter your email:</label>
        <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="email">
    <button type="submit">Submit</button></div>
 {% csrf_token %}
  </form>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock scripts %}