{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/signinup.css' %}">
{% endblock head %}

{% block content %}
    <div class="container_logins">
        <form action="" class="login_form" method="POST">
            {% csrf_token %}
            <div class="imgcontainer">
              <img src="{% static 'images/img_568657.png' %}" alt="Avatar" class="avatar">
            </div>

            <div class="container_login">
                {{ form.as_p }}
              <button type="submit" class="login_button">Login</button>
            </div>

            <div class="container_login div_login_down">
                <a href="{% url 'customuser:signup' %}">Create new profile?</a> or
                                <a href="{% url 'password_reset' %}">Forgot password?</a>

                            </div>
          </form>
    </div>

{% endblock content %}